body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

header{
background:#7b2cff;
color:white;
text-align:center;
padding:30px;
}

.produtos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.produto{
background:white;
padding:20px;
border-radius:15px;
width:250px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,.2);
}

button{
background:#7b2cff;
color:white;
border:none;
padding:10px 20px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#5a00d6;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
}
